price {
    color: gray;
    text-decoration: none;
}
.description {
	color: black;
}
.container{
	height:20rem;
	width:15rem;
}
a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
